{% extends 'partials/base.html' %}
{% block title %}Post Detail Page{% endblock title %}

{% block content %}
 
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                   <div class="alert alert-danger">
                    Are you Sure!
                   </div>
                   <form method="POST">
                    {% csrf_token %}
                        <a class="btn btn-secondary btn-sm" href="{% url 'blog-detail' post.id %}">Cancel</a>
                        <input class="btn btn-primary bt-sm" type="submit" value="Confirm">
                   </form>
                </div>
            </div>
        
        
    </div>

</div>


{% endblock  %}

