{% extends "partials/base.html" %}
{% block content %}
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Password Reste Page</h4>
                        <hr>
                        <div class="alert alert-info">
                            Enter the mail and a reset password mail is sent for New Password !
                        </div>
                        <form method="POST">
                            {%csrf_token%}
                            {{form.as_p}}
                            <input class="btn btn-primary btn-block" type="submit" value="Reste Password">

                        </form>
                    </div>
                </div>
            </div>
        </div>


                

    
    </div>
{% endblock %}